

img{
    width: 20px;
    /* height: 300px; */
    object-fit: cover;
    object-position: bottom;
}



.plagg {
    width: 50px;
    display: none;
 
    
}





.tikki{
    display: display;
}


.duuduu{
    width: 50px;
    display: none;
}


.nooroo{
    width: 50px;
    display: none;
}